HOST=127.0.0.1
PORT=3000
ADMIN_CODE=change-me
APP_TIME_ZONE=Asia/Kolkata
STORAGE_PROVIDER=local
GOOGLE_SCRIPT_URL= https://script.google.com/macros/s/AKfycbxf7TqEK88ioNxgcg2TmSWbfHlcTzsi-0zzSu33yvV299gCQuA3xizIQ1oa7I2joNN4zA/exec
GOOGLE_SCRIPT_SECRET= ravi@1189

//deployment id: AKfycbxf7TqEK88ioNxgcg2TmSWbfHlcTzsi-0zzSu33yvV299gCQuA3xizIQ1oa7I2joNN4zA
